.cncium_projects {
  margin: auto;
}

.cncium_projects_header h1 {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 54px;
  line-height: 75px;
  margin: 2rem 5rem 0 5rem;
}

.cncium_projects_canvas {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 100%;
  float: left;
  margin: 2rem 5rem;
  padding: 0;
}

.cncium_projects_canvas-item {
  background-color: var(--color-blog);
  border-radius: 5px;
  margin: 1rem 1rem 1rem 0;
}

.cncium_projects_canvas-item img {
  margin: 0;
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.cncium_projects_canvas-txt {
  max-width: 100%;
}

.cncium_projects_canvas-item h6 {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 25.11px;
  line-height: 30px;
  margin: 1rem;
  color: #fff;
}

.description {
  font-family: var(--font-family);
  margin: auto 1rem;
  font-weight: 700;
  font-size: 14px;
  line-height: 25px;
  color: #fff;
}

.details {
  margin: 1rem;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 11.649px;
  line-height: 25px;
  color: #81afdd;
}

/*Desktop small*/
@media screen and (max-width: 1250px) {
  .cncium_projects_header h1 {
    font-size: 50px;
    line-height: 64px;
    
  }
  .cncium_projects_canvas-item h6 {
    font-size: 22px;
  line-height: 30px;
  }
  .description {
    font-weight: 700;
    font-size: 12px;
    line-height: 21px;
  }
  .details {
    font-weight: 700;
    font-size: 10px;
    line-height: 20px;
    
  }
}
/*Smaller tablet or desktop*/

@media screen and (max-width: 1050px) {
  .cncium_projects_canvas {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 950px) {

  .cncium_projects_canvas-item h6 {
    font-size: 20px;
  line-height: 30px;
  }
}

@media screen and (max-width: 650px) {
  .cncium_projects {
    width:90%;
  }
  .cncium_projects_header h1 {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 48px;
    line-height: 50px;
    width: 90%;
    margin: 0;
  }

  .cncium_projects_canvas {
    display: flex;
    flex-wrap: wrap;
    margin: 2rem 0;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  .cncium_projects_canvas-item {
    margin: 1rem 0 1rem 0 ;
    width: 100%;
  }
  .cncium_projects_canvas-item img {
    width: 100%;
  }
}

@media screen and (max-width: 490px) {
  .cncium_projects_header h1 {font-weight: 700;
    font-size: 46px;
    line-height: 44px;}
  
}

@media screen and (min-width: 1480px) {
}
