.cncium_contact {
  margin: 5rem auto;
  width: 80%;
}

.cncium_contact_header h1 {
  text-align: center;
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 54px;
  line-height: 75px;
}

.cncium_contact_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cncium_contact_form-items {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.cncium_contact_label {
  display: block;
  color: #fff;
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 22px;
  line-height: 55px;
}

.cncium_contact_label {
  display: block;
  margin-bottom: -0.5rem;
}

.cncium_contact-form div input {
  width: 350px;
  height: 40px;
  left: 25px;
  top: 1950px;
}

.cncium_contact-form div input::placeholder {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
}

.left div input,
.right div input .right div textarea {
  color: var(--color-footer);
  font-family: var(--font-family);
  padding: 1rem;
  font-size: 16px;
  line-height: 12px;
}

.cncium_contact-form input:focus,
.cncium_contact-form textarea:focus {
  outline: none;
  padding: 1rem;
  font-family: var(--font-family);
}

.cncium_contact-form input::-webkit-outer-spin-button,
.cncium_contact-form input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

.left {
  margin-right: 1rem;
}

.message {
  width: 466px;
  height: 120px;
  left: 757px;
  top: 1950px;
}

.cncium_contact_submit-button {
  padding: 1rem;
  margin: 2rem auto;
  width: 152px;
  height: 50px;
  left: 610px;
  top: 2316px;

  background: #ff4820;
  border-radius: 5px;

  font-family: var(--font-family);
  font-style: normal;
  font-weight: 800;
  font-size: 22px;
  line-height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;

  cursor: pointer;
}

.cncium_contact_submit-button:hover {
  transform: scale(1.05);
}

.cncium_file_upload button {
  font-family: var(--font-family);
  background: #ff4820;
  font-weight: 800;
  font-size: 22px;
  line-height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
  margin-top: 1rem;
  margin-bottom: 1rem;
  cursor: pointer;
}

.cncium_file_upload button::-webkit-outer-spin-button,
.cncium_file_upload button::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.cncium_file_upload button:hover {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 22px;
  line-height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
  margin-bottom: 1rem;
  cursor: pointer;
}

@media screen and (max-width: 980px) {
  .cncium_contact_header h1 {
    font-size: 52px;
    line-height: 70px;
  }

  .cncium_contact_label {
    font-size: 20px;
    line-height: 55px;
  }

  .cncium_contact-form div input {
    width: 250px;
    height: 35px;
  }

  .message {
    width: 250px;
    height: 80px;
  }

  .cncium_contact_submit-button {
    font-size: 22px;
    line-height: 28px;
    width: 130px;
    height: 40px;
    border: none;
  }
  .cncium_file_upload button {
    font-size: 20px;
    line-height: 26px;
  }
  .cncium_file_upload button:hover {
    font-size: 20px;
    line-height: 26px;
  }
}

@media screen and (max-width: 680px) {
  .cncium_contact_form-items {
    flex-wrap: wrap;
  }

  .message {
    width: 220px;
    height: 80px;
  }
  .cncium_contact-form div input {
    width: 220px;
    height: 35px;
  }
  .right {
    margin-left: 4rem;
  }
  
  .cncium_file_upload button {
    font-size: 18px;
    line-height: 24px;
  }
  .cncium_file_upload button:hover {
    font-size: 18px;
    line-height: 24px;
  }
}
